[package]
name = "benimator"
version = "4.0.0-alpha.8"
edition = "2021"
rust-version = "1.60"
authors = ["Jonathan Cornaz"]
license = "Unlicense OR MIT"
description = "A sprite sheet animation plugin for Bevy"
repository = "https://github.com/jcornaz/benimator"
keywords = ["game", "gamedev", "anmiation", "bevy"]
categories = ["game-development"]

[package.metadata.docs.rs]
all-features = true

[features]
default = []
yaml = ["dep:yaml", "load-from-file"]
ron = ["dep:ron", "load-from-file"]
bevy-07 = ["bevy-ecs-07", "bevy-core-07", "bevy-reflect-07", "bevy-app-07", "bevy-asset-07", "bevy-sprite-07"]
load-from-file = ["serde", "anyhow"]

[dependencies]
# Private dependencies (do not leak into the public API)
yaml = { package = "serde_yaml", version = "0.8.26", default-features = false, optional = true }
ron = { version = "0.7.1", default-features = false, optional = true }

# Public dependencies (Present in the public API)
serde = { version = "1.0", default-features = false, features = ["derive"], optional = true }
anyhow = { version = "1.0", default-features = false, optional = true }

## Bevy 0.7
bevy-ecs-07 = { package = "bevy_ecs", version = "0.7.0", default-features = false, optional = true }
bevy-core-07 = { package = "bevy_core", version = "0.7.0", default-features = false, optional = true }
bevy-reflect-07 = { package = "bevy_reflect", version = "0.7.0", default-features = false, optional = true }
bevy-app-07 = { package = "bevy_app", version = "0.7.0", default-features = false, optional = true }
bevy-asset-07 = { package = "bevy_asset", version = "0.7.0", default-features = false, optional = true }
bevy-sprite-07 = { package = "bevy_sprite", version = "0.7.0", default-features = false, optional = true }

[dev-dependencies]
bevy = { version = "0.7.0", default-features = false, features = ["render", "x11", "png"] }
rstest = { version = "0.15.0", default-features = false }

[build-dependencies]
rustc_version = "0.4.0"

[[example]]
name = "change_animation"
required-features = ["bevy-07"]

[[example]]
name = "end_of_animation_detection"
required-features = ["bevy-07"]

[[example]]
name = "ping_pong"
required-features = ["bevy-07"]

[[example]]
name = "readme"
required-features = ["bevy-07"]

[[example]]
name = "using_animation_file"
required-features = ["load-from-file", "yaml", "bevy-07"]
