[package]
name = "benimator"
version = "3.0.1"
edition = "2021"
rust-version = "1.58"
authors = ["Jonathan Cornaz"]
license = "Unlicense OR MIT"
description = "A sprite sheet animation plugin for Bevy"
repository = "https://github.com/jcornaz/benimator"
keywords = ["game", "gamedev", "anmiation", "bevy"]
categories = ["game-development"]

[dependencies]
bevy_core = { version = "0.7.0", default-features = false }
bevy_ecs = { version = "0.7.0", default-features = false }
bevy_app = { version = "0.7.0", default-features = false }
bevy_reflect = { version = "0.7.0", default-features = false }
bevy_sprite = { version = "0.7.0", default-features = false }
bevy_asset = { version = "0.7.0", default-features = false }

[dev-dependencies]
bevy = { version = "0.7.0", default-features = false, features = ["render", "x11", "png"] }
rstest = { version = "0.12.0", default-features = false }
criterion = { version = "0.3.5", default-features = false }

[[bench]]
name = "play_component"
harness = false

[profile.dev]
debug = 0
