[package]
name = "benimator"
version = "0.3.1"
edition = "2021"
rust-version = "1.56"
authors = ["Jonathan Cornaz"]
license = "Unlicense OR MIT"
description = "A sprite sheet animation plugin for Bevy"
repository = "https://github.com/jcornaz/benimator"
keywords = ["game", "gamedev", "anmiation", "bevy"]
categories = ["game-development"]

[features]
default = ["warnings"]
warnings = ["bevy_log"]

[dependencies]
bevy_core = { version = "^0.5.0", default-features = false }
bevy_ecs = { version = "^0.5.0", default-features = false }
bevy_app = { version = "^0.5.0", default-features = false }
bevy_reflect = { version = "^0.5.0", default-features = false }
bevy_sprite = { version = "^0.5.0", default-features = false }
bevy_asset = { version = "^0.5.0", default-features = false }
bevy_log = { version = "^0.5.0", default-features = false, optional = true }

[dev-dependencies]
bevy = { version = "^0.5.0", default-features = false, features = ["render", "bevy_wgpu", "x11", "png"] }
rstest = "^0.7.0" # Newer versions are incompatible with bevy 0.5
