[package]
name = "animism"
version = "0.0.0"
authors = ["Jonathan Cornaz"]
edition = "2018"

[profile.dev]
opt-level = 1

[profile.release]
lto = true
panic = 'abort'
codegen-units = 1

[dependencies]
bevy_core = "^0.5.0"
bevy_ecs = "^0.5.0"
bevy_app = "^0.5.0"
bevy_reflect = "^0.5.0"
bevy_sprite = "^0.5.0"

[dev-dependencies]
bevy = { version = "^0.5.0", default-features = false, features = ["render", "bevy_wgpu", "x11"] }
rstest = "^0.7.0" # Newer versions are incompatible with bevy 0.5
